type hal_bluetooth_rpi4, domain;
hal_server_domain(hal_bluetooth_rpi4, hal_bluetooth)

type hal_bluetooth_rpi4_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_bluetooth_rpi4)