# Bluetooth
/dev/ttyAMA0                                                                 0660   bluetooth  bluetooth
/dev/rfkill                                                                  0660   bluetooth  bluetooth
/sys/devices/platform/soc/fe201000.serial/tty/ttyAMA0/hci0/rfkill1  state    0660   bluetooth  bluetooth
/sys/devices/platform/soc/fe201000.serial/tty/ttyAMA0/hci0/rfkill1  type     0440   bluetooth  bluetooth

# Camera
/dev/video*                                                                  0660   system     camera

# GPS
/dev/ttyACM0                                                                 0660   gps     gps

/dev/ion                  0664   system     system
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera

# cpufreq
/sys/devices/system/cpu/cpu*   cpufreq/scaling_governor   0664  system system
/sys/devices/system/cpu/cpufreq/ondemand/up_threshold   0664  system system